<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu"
     xmlns:th="http://www.w3.org/1999/xhtml">
<div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Issuers <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="@{../issuers/formIssuer}">Creation</a></li>
                <li><a href="@{../issuers/listIssuers}">List</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Govies Type <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="@{formGoviesType}">Creation</a></li>
                <li><a th:href="@{listGoviesType}">List</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i>Issuance <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a th:href="@{formIssuance}">Creation</a></li>
                <li><a th:href="@{listIssue}">List</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="tables.html">Issuance Tables</a></li>
                <li><a href="tables_dynamic.html">Issuance Table Dynamic</a></li>
            </ul>
        </li>
        <li><a><i class="fa fa-bar-chart-o"></i>Stats<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="chartjs.html">Stats by Issuers</a></li>
                <li><a href="chartjs2.html">Stats by GoviesType</a></li>
                <li><a href="morisjs.html">Stats Detailed</a></li>
            </ul>
        </li>

    </ul>
</div>


</div>